* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif; }

summary, details, input, text {
  outline: 0;
  outline-offset: 0; }

summary {
  cursor: pointer; }

a {
  text-decoration: none;
  cursor: pointer; }

.zoom-img:hover {
  transform: scale(1.2); }

.active-button:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45); }

.container {
  width: 278px;
  margin: 0 auto; }

.header {
  width: 100vw;
  height: 288px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .header__logo {
    margin-left: 38px;
    margin-top: 38px; }
    .header__logo_link {
      width: 100px;
      height: 29px; }
  .header__menu {
    width: 40px;
    height: 29px;
    margin-top: 38px;
    margin-right: -38px;
    display: none; }
  .header__list {
    list-style-type: none;
    display: flex; }
    .header__list_link {
      color: black;
      font-size: 0px;
      cursor: pointer; }

.content__section {
  margin: 0 auto; }
  .content__section_h2 {
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-align: left;
    margin-left: 20px; }
  .content__section_h3 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 17px;
    color: #000000; }
  .content__section_button {
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    height: 48px;
    width: 278px;
    cursor: pointer;
    color: #fff;
    background-color: #008DCD;
    border-radius: 35px;
    display: block; }

.delivery {
  margin-top: 27px;
  background: #F7F7F7;
  padding-bottom: 10px;
  width: 100vw; }
  .delivery__list {
    list-style-type: none;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; }
  .delivery__list img {
    margin-bottom: 25px;
    width: 100%; }
  .delivery__h3 {
    font-size: 18px;
    align-items: center;
    color: #000000;
    margin-bottom: 10px; }
  .delivery__p {
    text-align: left;
    font-size: 12px;
    color: #000000;
    margin-bottom: 20px; }

.step {
  margin-left: 20px;
  margin-right: 20px; }

.step-block img {
  width: 277px; }

.step-block {
  margin-top: 27px;
  margin-bottom: 27px; }
  .step-block__h4 {
    margin-top: 27px;
    margin-bottom: 8px;
    font-size: 26px;
    line-height: 31px;
    color: #000000; }
  .step-block__p {
    font-size: 14px;
    color: #000000; }

.text-block {
  background-color: #F7F7F7; }
  .text-block__list {
    list-style-type: none;
    padding-bottom: 23px; }
  .text-block__link {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 23px;
    padding-bottom: 9px;
    font-weight: 600; }
  .text-block__link:first-child {
    margin-left: 20px; }

.call-back {
  background: #008DCD; }
  .call-back__list {
    list-style-type: none;
    margin-left: 21px;
    margin-right: 21px; }
  .call-back__link_h2 {
    padding-top: 32px;
    margin-bottom: 19px;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .call-back__link_p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 14px;
    color: #FFFFFF; }
  .call-back__input-form {
    text-align: center; }
    .call-back__input-form_tel {
      font-size: 16px;
      line-height: 48px;
      color: #FFFFFF;
      background: #008DCD;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 30px;
      width: 240px;
      height: 48px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px; }
    .call-back__input-form_submit {
      font-size: 16px;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: #363636;
      width: 240px;
      height: 48px;
      border: none;
      background: #FFCC00;
      border-radius: 30px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 10px; }

.reviews {
  padding-left: 20px;
  padding-right: 20px; }
  .reviews__header {
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    margin-top: 21px; }
  .reviews__content {
    display: flex;
    align-items: center;
    margin: 0 auto; }

.reviews-block {
  margin-left: 20px;
  margin-left: 20px; }
  .reviews-block__face {
    display: flex; }
    .reviews-block__face_img {
      width: 87px;
      height: 87px;
      margin-right: 15px; }
    .reviews-block__face_work {
      font-size: 18px;
      line-height: 22px;
      color: #000000; }
    .reviews-block__face_name {
      font-size: 26px;
      line-height: 31px;
      color: #000000; }
    .reviews-block__face_parcel {
      font-size: 10px;
      line-height: 12px;
      color: #000000; }
  .reviews-block__content {
    margin-top: 20px;
    margin-bottom: 20px; }
    .reviews-block__content_text {
      font-size: 12px;
      line-height: 14px;
      color: #000000; }

.angel {
  color: #C4C4C4;
  font-size: 25px;
  font-weight: 600; }
  .angel .active-slash:hover {
    color: #008DCD; }

.advantages {
  background-color: #F7F7F7;
  padding-left: 20px;
  padding-right: 20px; }
  .advantages__header {
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    padding-top: 25px; }
  .advantages__main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px; }
  .advantages__block {
    text-align: center;
    width: 26vw;
    height: 27vh;
    align-items: center; }
    .advantages__block_img {
      width: 50px;
      height: 49px;
      padding: 19px;
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      border-radius: 50%; }
    .advantages__block_p {
      text-align: center;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      color: #000000; }

.hide {
  display: none; }

.guarantees {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 27px 21px 21px 21px; }
  .guarantees__header {
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 18px; }
  .guarantees__nav_slider {
    margin-left: 7px;
    margin-right: 7px; }
  .guarantees__nav_img {
    width: 48px;
    height: 48px;
    padding: 19px;
    background-color: #F7F7F7;
    border-radius: 50%; }
  .guarantees__nav_h4 {
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .guarantees__content_p {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px; }
  .guarantees__content_button {
    display: block;
    width: 230px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #008DCD;
    border-radius: 30px; }

.fast-answer {
  background: #D2ECF7;
  padding-bottom: 20px; }
  .fast-answer__header {
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px; }
  .fast-answer__list {
    list-style-type: none; }
  .fast-answer__link {
    align-items: center;
    font-size: 14px;
    min-height: 58px;
    line-height: 17px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 9px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .fast-answer__link_p {
      margin-top: 10px; }

details summary::-webkit-details-marker {
  display: none; }

.delivery-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px; }
  .delivery-company__list {
    list-style-type: none;
    display: flex; }
  .delivery-company__link {
    margin: 3px 0px; }
    .delivery-company__link_img {
      width: 66px;
      height: 42px; }

@media screen and (max-width: 321px) {
  .hide {
    display: block; }

  .header {
    background-image: url("img/back-header-mini.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw; }
    .header__menu {
      display: block; }
    .header__nav {
      display: none; }

  .flash {
    display: none; }

  .guarantees__nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .guarantees__nav_slider {
    display: flex;
    align-items: center; }

  .guarantees__nav_h4 {
    padding-left: 15px; }

  .guarantees__content {
    margin-left: 26px;
    margin-right: 26px; }

  .fast-answer__block {
    margin-left: 20px;
    margin-right: 20px; }

  .delivery-company {
    margin-left: 20px;
    margin-right: 20px; } }
@media screen and (min-width: 321px) and (max-width: 769px) {
  html {
    font-size: 2px; }

  .container {
    width: 100vw;
    margin: 0 auto; }

  .nav-main {
    margin: 0 auto; }

  .header {
    background-image: url("img/back-header-768.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 415px;
    position: relative;
    width: 100vw; }
    .header__list {
      margin-top: 38px;
      justify-content: space-around; }
      .header__list_link {
        font-size: 6rem;
        line-height: 16.8px;
        margin-right: 24px;
        color: #fff; }
    .header__list {
      width: 100%;
      margin-top: 41px; }

  .content__section {
    position: absolute;
    top: 113px;
    margin-left: 40px;
    text-align: left; }
    .content__section_h2 {
      font-size: 22rem;
      width: 400px;
      color: #FFFFFF;
      text-align: left;
      margin-bottom: 18px; }
    .content__section_h3 {
      font-size: 14rem;
      margin-top: 17px;
      width: 302px;
      color: #FFFFFF;
      text-align: left;
      margin-bottom: 36px; }

  .delivery {
    margin-top: 25px; }
    .delivery__list {
      display: flex;
      position: relative;
      margin-top: 84px;
      justify-content: space-between; }
    .delivery__list img {
      width: 325px; }
    .delivery__list li:last-of-type {
      margin-left: 34px;
      order: 1; }
    .delivery__list li:first-child {
      order: 2; }
    .delivery__h3 {
      font-size: 18rem;
      align-items: center;
      position: absolute;
      top: -60px; }
    .delivery__p {
      text-align: left;
      font-size: 7rem;
      width: 280px;
      margin-bottom: 30px; }

  .step {
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  .step-block img {
    width: 280px; }

  .step-block {
    margin-top: 34px;
    margin-bottom: 14px;
    width: 281px; }
    .step-block__h4 {
      margin-top: 25px;
      margin-bottom: 8px;
      font-size: 18rem;
      line-height: 31px; }
    .step-block__p {
      font-size: 8rem; }

  .text-block {
    height: 124px;
    margin-top: 51px; }
    .text-block__list {
      padding-bottom: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .text-block__link {
      width: 375px;
      font-size: 14rem;
      line-height: 34px;
      margin-left: 34px; }

  .call-back__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 34px;
    margin-right: 34px; }
  .call-back__link {
    width: 280px; }
    .call-back__link_h2 {
      padding-top: 32px;
      margin-bottom: 19px;
      font-size: 14rem; }
    .call-back__link_p {
      font-size: 7rem;
      margin-bottom: 33px; }
  .call-back__input-form_tel {
    font-size: 8rem;
    width: 280px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px; }
  .call-back__input-form_submit {
    font-size: 16px;
    line-height: 48px;
    color: #363636;
    width: 280px;
    height: 48px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px; }

  .reviews {
    padding-left: 34px;
    padding-right: 34px; }
    .reviews__header {
      font-size: 18rem;
      line-height: 43px;
      color: #000000;
      text-transform: uppercase;
      padding-left: 34px;
      padding-right: 34px;
      margin-bottom: 26px;
      margin-top: 51px; }
    .reviews__content {
      display: flex;
      align-items: center;
      margin: 0 auto; }

  .reviews-block {
    margin-left: 34px;
    margin-right: 34px; }
    .reviews-block__face {
      display: flex; }
      .reviews-block__face_img {
        width: 87px;
        height: 87px;
        margin-right: 15px; }
      .reviews-block__face_work {
        font-size: 9rem;
        line-height: 22px;
        color: #000000; }
      .reviews-block__face_name {
        font-size: 13rem;
        line-height: 31px;
        color: #000000; }
      .reviews-block__face_parcel {
        font-size: 5rem;
        line-height: 12px;
        color: #000000; }
    .reviews-block__content {
      margin-top: 20px; }
      .reviews-block__content_text {
        font-size: 7rem;
        line-height: 17px;
        color: #000000; }

  .advantages {
    padding-left: 20px;
    padding-right: 20px; }
    .advantages__header {
      font-size: 18rem;
      line-height: 43px;
      padding-top: 25px;
      padding-left: 34px; }
    .advantages__main {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 23px 34px 110px 34px; }
    .advantages__block {
      text-align: center;
      width: 11vw;
      height: 23vh;
      align-items: center; }
      .advantages__block_img {
        width: 50px;
        height: 49px;
        padding: 19px;
        border-radius: 50%; }
      .advantages__block_p {
        text-align: center;
        font-size: 6rem;
        line-height: 14px;
        text-align: center;
        color: #000000; }

  .guarantees {
    padding: 47px 32px 47px 32px; }
    .guarantees__header {
      font-size: 18rem;
      line-height: 43px;
      margin-bottom: 20px; }
    .guarantees__global {
      display: flex;
      justify-content: space-between; }
    .guarantees__block {
      width: 30vw; }
    .guarantees__nav_img {
      width: 48px;
      height: 48px;
      padding: 19px; }
    .guarantees__nav_h4 {
      font-size: 9rem;
      line-height: 24px; }
    .guarantees__content_p {
      font-size: 6rem;
      line-height: 14px;
      margin-top: 15px;
      margin-bottom: 31px;
      height: 41rem; }
    .guarantees__content_button {
      width: 220px;
      height: 48px;
      font-size: 16px;
      line-height: 48px; }

  .marg {
    margin: 0px 20px 0px 20px; }

  .fast-answer {
    padding-bottom: 39px; }
    .fast-answer__header {
      font-size: 18rem;
      line-height: 43px;
      padding-top: 41px;
      margin-left: 35px;
      margin-right: 35px; }
    .fast-answer__block {
      margin-left: 35px;
      margin-right: 35px; }
    .fast-answer__list {
      list-style-type: none; }
    .fast-answer__link {
      font-size: 8rem;
      min-height: 48px;
      line-height: 19px;
      border-radius: 200px;
      padding: 9px 25px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .fast-answer__link_p {
        margin-top: 20px; }

  .delivery-company {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 39px 35px; }
    .delivery-company__all {
      display: flex; }
    .delivery-company__list {
      list-style-type: none;
      display: flex; }
    .delivery-company__link {
      margin: 3px 0px; }
      .delivery-company__link_img {
        width: 66px;
        height: 42px; } }
@media screen and (min-width: 770px) and (max-width: 1440px) {
  .container {
    width: 100vw; }

  html {
    font-size: 2px; }

  .nav-main {
    margin: 0 auto; }

  .header {
    background-image: url("img/back-header-big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 525px;
    position: relative; }
    .header__logo {
      margin-left: 140px;
      margin-top: 29px; }
      .header__logo_link {
        width: 160px;
        height: 46px; }
    .header__list {
      margin-top: 41px;
      justify-content: space-around; }
      .header__list_link {
        font-size: 6rem;
        line-height: 16.8px;
        margin-right: 24px;
        color: #fff; }
    .header__list {
      width: 100%;
      margin-top: 41px; }
      .header__list_link {
        font-size: 8rem;
        line-height: 16.8px;
        margin-right: 60px;
        color: #FFFFFF; }

  .content__section {
    position: absolute;
    top: 163px;
    margin-left: 140px;
    text-align: left; }
    .content__section_h2 {
      font-size: 22rem;
      color: #FFFFFF;
      width: 750px;
      text-align: left;
      margin-bottom: 22px; }
    .content__section_h3 {
      font-size: 14rem;
      color: #FFFFFF;
      width: 302px;
      text-align: left;
      margin-bottom: 36px; }
    .content__section_button {
      font-size: 8rem;
      line-height: 48px;
      height: 48px;
      width: 360px;
      text-align: center;
      text-transform: uppercase; }

  .delivery {
    margin-top: 25px; }
    .delivery__list {
      display: flex;
      justify-content: space-between; }
    .delivery__list img {
      width: 660px; }
    .delivery__list li:last-of-type {
      margin-left: 140px;
      justify-content: left;
      order: 1; }
    .delivery__list li:first-child {
      order: 2; }
    .delivery__h3 {
      font-size: 18rem;
      text-align: left;
      color: #000000; }
    .delivery__p {
      text-align: left;
      font-size: 7rem;
      color: #000000;
      width: 280px; }

  .step {
    margin: 68px 7% 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  .angel {
    color: #C4C4C4;
    font-size: 30px;
    font-weight: 600; }

  .active-slash:hover {
    color: #008DCD; }

  .step-block img {
    width: 462px; }

  .step-block {
    margin-top: 18px;
    margin-bottom: 18px;
    width: 462px; }
    .step-block__h4 {
      margin-top: 41px;
      margin-bottom: 9px;
      font-size: 15rem;
      line-height: 36px;
      color: #000000;
      font-weight: 600; }
    .step-block__p {
      font-size: 10rem;
      line-height: 24px;
      color: #000000; }

  .text-block {
    height: 180px; }
    .text-block__list {
      padding-bottom: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
    .text-block__link {
      font-size: 14rem;
      line-height: 34px;
      color: #000000;
      font-weight: 600;
      margin-left: 140px;
      margin-bottom: 14px; }
    .text-block__list li:last-of-type {
      margin-right: 140px; }

  .call-back__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px; }
  .call-back__link_h2 {
    padding-top: 70px;
    margin-bottom: 19px;
    line-height: 58px;
    font-size: 24rem; }
  .call-back__link_p {
    font-size: 12rem;
    margin-bottom: 77px; }
  .call-back__input-form {
    width: 360px;
    padding-top: 25px; }
    .call-back__input-form_tel {
      font-size: 8rem;
      width: 360px;
      height: 48px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px; }
    .call-back__input-form_submit {
      font-size: 16px;
      line-height: 48px;
      width: 360px;
      height: 48px;
      border-radius: 30px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 10px; }

  .reviews {
    padding-left: 140px;
    padding-right: 140px; }
    .reviews__header {
      font-size: 18rem;
      line-height: 43px;
      color: #000000;
      text-transform: uppercase;
      padding-left: 140px;
      padding-right: 140px;
      margin-bottom: 46px;
      margin-top: 69px; }
    .reviews__content {
      display: flex;
      align-items: center;
      margin: 0 auto; }

  .reviews-block {
    margin-left: 80px;
    margin-right: 80px; }
    .reviews-block__face {
      display: flex; }
      .reviews-block__face_img {
        width: 119px;
        height: 119px;
        margin-right: 35px; }
      .reviews-block__face_work {
        font-size: 10rem;
        line-height: 24px;
        color: #000000; }
      .reviews-block__face_name {
        font-size: 13rem;
        line-height: 43px;
        color: #000000; }
      .reviews-block__face_parcel {
        font-size: 8rem;
        line-height: 19px;
        color: #000000; }
    .reviews-block__content {
      margin-top: 20px; }
      .reviews-block__content_text {
        font-size: 8rem;
        line-height: 19px;
        color: #000000; }

  .advantages {
    background-color: #F7F7F7;
    padding-left: 20px;
    padding-right: 20px; }
    .advantages__header {
      font-size: 18rem;
      line-height: 43px;
      color: #000000;
      padding-top: 101px;
      padding-left: 140px; }
    .advantages__main {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-around;
      padding: 28px 140px 161px 125px; }
    .advantages__block {
      text-align: center;
      width: 11vw;
      height: 23vh;
      align-items: center; }
      .advantages__block_img {
        width: 84px;
        height: 84px;
        padding: 27px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 50%; }
      .advantages__block_p {
        text-align: center;
        font-size: 9rem;
        line-height: 22px;
        text-align: center;
        color: #000000; }

  .guarantees {
    padding: 21vh 9vw 20vh 9vw; }
    .guarantees__header {
      font-size: 18rem;
      line-height: 43px;
      margin-bottom: 30px; }
    .guarantees__global {
      display: flex;
      justify-content: space-between; }
    .guarantees__block {
      width: 30vw; }
    .guarantees__nav_img {
      width: 75px;
      height: 70px;
      padding: 19px; }
    .guarantees__nav_h4 {
      font-size: 15rem;
      line-height: 36px; }
    .guarantees__content_p {
      font-size: 8rem;
      line-height: 19px;
      margin-top: 15px;
      margin-bottom: 31px;
      height: 41rem; }
    .guarantees__content_button {
      width: 360px;
      height: 48px;
      font-size: 8rem;
      line-height: 48px; }

  .marg {
    margin: 0px 40px 0px 40px; }

  .fast-answer {
    padding-bottom: 44px; }
    .fast-answer__header {
      font-size: 18rem;
      line-height: 43px;
      padding-top: 64px;
      margin-left: 140px;
      margin-right: 140px; }
    .fast-answer__block {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      margin-top: 24px; }
    .fast-answer__left {
      margin-left: 140px;
      margin-right: 15px;
      width: 40vw; }
    .fast-answer__right {
      margin-right: 140px;
      margin-left: 15px;
      width: 40vw; }
    .fast-answer__list {
      list-style-type: none; }
    .fast-answer__link {
      font-size: 8rem;
      min-height: 64px;
      line-height: 19px;
      border-radius: 200px;
      padding: 9px 25px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .fast-answer__link_p {
        margin-top: 20px; }

  .delivery-company {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 59px 142px; }
    .delivery-company__all {
      display: flex; }
    .delivery-company__list {
      list-style-type: none;
      display: flex; }
    .delivery-company__link {
      margin: 3px 0px; }
      .delivery-company__link_img {
        margin-left: 16px;
        margin-right: 16px;
        width: 94px;
        height: 60px; } }
@media screen and (min-width: 1441px) {
  .container {
    width: 100vw; }

  html {
    font-size: 2px; }

  .nav-main {
    margin: 0 auto; }

  .header {
    margin: 0 auto;
    background-image: url("img/back-header-big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 525px;
    position: relative; }
    .header__logo {
      margin-left: 140px;
      margin-top: 29px; }
      .header__logo_link {
        width: 160px;
        height: 46px; }
    .header__list {
      margin-top: 41px;
      justify-content: space-around; }
      .header__list_link {
        font-size: 6rem;
        line-height: 16.8px;
        margin-right: 24px;
        color: #fff; }
    .header__list {
      width: 100%;
      margin-top: 41px; }
      .header__list_link {
        font-size: 8rem;
        line-height: 16.8px;
        margin-right: 60px;
        color: #FFFFFF; }

  .content__section {
    position: absolute;
    top: 163px;
    margin-left: 140px;
    text-align: left; }
    .content__section_h2 {
      font-size: 22rem;
      color: #FFFFFF;
      width: 750px;
      text-align: left;
      margin-bottom: 22px; }
    .content__section_h3 {
      font-size: 14rem;
      color: #FFFFFF;
      width: 302px;
      text-align: left;
      margin-bottom: 36px; }
    .content__section_button {
      font-size: 8rem;
      line-height: 48px;
      height: 48px;
      width: 360px;
      text-align: center;
      text-transform: uppercase; }

  .delivery {
    margin-top: 25px; }
    .delivery__list {
      display: flex;
      justify-content: space-between; }
    .delivery__list img {
      width: 660px; }
    .delivery__list li:last-of-type {
      margin-left: 140px;
      justify-content: left;
      order: 1; }
    .delivery__list li:first-child {
      order: 2; }
    .delivery__h3 {
      font-size: 18rem;
      text-align: left;
      color: #000000; }
    .delivery__p {
      text-align: left;
      font-size: 7rem;
      color: #000000;
      width: 280px; }

  .step {
    margin: 68px 7% 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  .step-block img {
    width: 462px; }

  .step-block img {
    width: 462px; }

  .step-block {
    margin-top: 18px;
    margin-bottom: 18px;
    width: 462px; }
    .step-block__h4 {
      margin-top: 41px;
      margin-bottom: 9px;
      font-size: 15rem;
      line-height: 36px;
      color: #000000;
      font-weight: 600; }
    .step-block__p {
      font-size: 10rem;
      line-height: 24px;
      color: #000000; }

  .text-block {
    height: 180px; }
    .text-block__list {
      padding-bottom: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
    .text-block__link {
      font-size: 14rem;
      line-height: 34px;
      color: #000000;
      font-weight: 600;
      margin-left: 140px;
      margin-bottom: 14px; }
    .text-block__list li:last-of-type {
      margin-right: 140px; }

  .call-back__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px; }
  .call-back__link_h2 {
    padding-top: 70px;
    margin-bottom: 19px;
    line-height: 58px;
    font-size: 24rem; }
  .call-back__link_p {
    font-size: 12rem;
    margin-bottom: 77px; }
  .call-back__input-form {
    width: 360px;
    padding-top: 25px; }
    .call-back__input-form_tel {
      font-size: 8rem;
      width: 360px;
      height: 48px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px; }
    .call-back__input-form_submit {
      font-size: 16px;
      line-height: 48px;
      width: 360px;
      height: 48px;
      border-radius: 30px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 10px; }

  .reviews {
    padding-left: 140px;
    padding-right: 140px; }
    .reviews__header {
      font-size: 18rem;
      line-height: 43px;
      color: #000000;
      text-transform: uppercase;
      padding-left: 140px;
      padding-right: 140px;
      margin-bottom: 46px;
      margin-top: 69px; }
    .reviews__content {
      display: flex;
      align-items: center;
      margin: 0 auto; }
    .reviews__slash {
      width: 20px;
      height: 40px; }

  .angel {
    color: #C4C4C4;
    font-size: 40px;
    font-weight: 600; }

  .active-slash:hover {
    color: #008DCD; }

  .reviews-block {
    margin-left: 80px;
    margin-right: 80px; }
    .reviews-block__face {
      display: flex; }
      .reviews-block__face_img {
        width: 119px;
        height: 119px;
        margin-right: 35px; }
      .reviews-block__face_work {
        font-size: 10rem;
        line-height: 24px;
        color: #000000; }
      .reviews-block__face_name {
        font-size: 13rem;
        line-height: 43px;
        color: #000000; }
      .reviews-block__face_parcel {
        font-size: 8rem;
        line-height: 19px;
        color: #000000; }
    .reviews-block__content {
      margin-top: 20px; }
      .reviews-block__content_text {
        font-size: 8rem;
        line-height: 19px;
        color: #000000; }

  .advantages {
    background-color: #F7F7F7;
    padding-left: 20px;
    padding-right: 20px; }
    .advantages__header {
      font-size: 18rem;
      line-height: 43px;
      color: #000000;
      padding-top: 101px;
      padding-left: 140px; }
    .advantages__main {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-around;
      padding: 28px 140px 161px 125px; }
    .advantages__block {
      text-align: center;
      width: 11vw;
      height: 23vh;
      align-items: center; }
      .advantages__block_img {
        width: 84px;
        height: 84px;
        padding: 27px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 50%; }
      .advantages__block_p {
        text-align: center;
        font-size: 9rem;
        line-height: 22px;
        text-align: center;
        color: #000000; }

  .guarantees {
    padding: 21vh 9vw 20vh 9vw; }
    .guarantees__header {
      font-size: 18rem;
      line-height: 43px;
      margin-bottom: 30px; }
    .guarantees__global {
      display: flex;
      justify-content: space-between; }
    .guarantees__block {
      width: 30vw; }
    .guarantees__nav_img {
      width: 75px;
      height: 70px;
      padding: 19px; }
    .guarantees__nav_h4 {
      font-size: 15rem;
      line-height: 36px; }
    .guarantees__content_p {
      font-size: 8rem;
      line-height: 19px;
      margin-top: 15px;
      margin-bottom: 31px;
      height: 41rem; }
    .guarantees__content_button {
      width: 360px;
      height: 48px;
      font-size: 8rem;
      line-height: 48px; }

  .marg {
    margin: 0px 40px 0px 40px; }

  .fast-answer {
    padding-bottom: 44px; }
    .fast-answer__header {
      font-size: 18rem;
      line-height: 43px;
      padding-top: 64px;
      margin-left: 140px;
      margin-right: 140px; }
    .fast-answer__block {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      margin-top: 24px; }
    .fast-answer__left {
      margin-left: 140px;
      margin-right: 15px;
      width: 40vw; }
    .fast-answer__right {
      margin-right: 140px;
      margin-left: 15px;
      width: 40vw; }
    .fast-answer__list {
      list-style-type: none; }
    .fast-answer__link {
      font-size: 8rem;
      min-height: 64px;
      line-height: 19px;
      border-radius: 200px;
      padding: 9px 25px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .fast-answer__link_p {
        margin-top: 20px; }

  .delivery-company {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 59px 142px; }
    .delivery-company__all {
      display: flex; }
    .delivery-company__list {
      list-style-type: none;
      display: flex; }
    .delivery-company__link {
      margin: 3px 0px; }
      .delivery-company__link_img {
        margin-left: 16px;
        margin-right: 16px;
        width: 94px;
        height: 60px; } }

/*# sourceMappingURL=style.css.map */
